<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Photo Blocks</title>
    <style>
        .photographer-image-container{
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div style="display: flex;justify-content: center;">
        <div style="display: inline-flex; text-align: center; justify-content: center;margin-top: 94px;flex-direction: column;">
            <img style="border-radius: 240px;" src="https://picsum.photos/260/260?random=1" alt="ProfileDP" />
            <h1>Name</h1>
            <hr style="border-left: 220px solid black;">
            <h1>My Unique Works</h1>
        </div>
    </div>
    <div class="row" style="margin-top: 34px;">
        <div class="col-md-4 photographer-image-container" style="padding: 70px 0;">
            <img src="https://picsum.photos/520/640?random=1"/>
        </div>
        <div class="col-md-4 photographer-image-container" style="padding: 70px 0;">
            <img src="https://picsum.photos/520/640?random=1"/>
        </div>
        <div class="col-md-4 photographer-image-container" style="padding: 70px 0;">
            <img src="https://picsum.photos/520/640?random=1"/>
        </div>
    </div>
</body>
</html>