<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.2/build/styles/tomorrow.min.css">
  <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.2/build/highlight.min.js"></script>
  <!--Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/assets/css/styles.css">
</head>

<body>
  <!-- CHECK -->
  <!--<section class="section">
    <div class="container">
      <h1 class="title">
        Check AlgoSigner
      </h1>
      <p class="subtitle">
        Check if AlgoSigner library is available on your Browser
      </p>

      <div class="columns">
        <div class="column">
          <button class="button is-primary is-fullwidth" id="check">Check</button>
          <pre class="mt-2"><code class="JSON" id="check-code">response</code></pre>
        </div>
      </div>
    </div>
  </section>      
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  <script src="/static/assets/js/AlgoSigner.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

  <script>
    document.getElementById('check').addEventListener('click', check);
    /*
    document.getElementById('connect').addEventListener('click', connect);
    document.getElementById('sdksetup').addEventListener('click', sdkSetup);
    document.getElementById('accounts').addEventListener('click', accounts);
    document.getElementById('status').addEventListener('click', status);
    document.getElementById('assets').addEventListener('click', assets);
    */
  </script>-->
  <div class="lcorner">
    <h4><i class="bi bi-camera-fill"></i>Photo Block</h4>
  </div>
  <section>
    <div class="btn_holder">
      <button type="button" class="btn btn-lg">Sign<span>Up</span></button>
    </div>
    <form>
      <div class="mb-3 row">
        <h3 for="name" class="col-sm-2">Name</h3>
        <div class="col">
          <input type="text" class="name">
        </div>
      </div>
      <div class="mb-3 row">
        <h3 for="type" class="col-sm-2">Type</h3>
        <div class="col">
          <select id="type" name="type">
            <option value="volvo">Buyer</option>
            <option value="saab">Seller</option>
          </select>
        </div>
      </div>
    </form>
    <div class="btn_holder">
      <button type="button" class="btn btn-lg">Connect</button>
    </div>
  </section>
</body>

</html>